<div id="helpUnderlay" class="help-underlay">
  <div id="helpModal" class="help-modal">
  <h1>Keyboard Shortcuts <kbd class="help-key"><span>?</span></kbd></h1>
    <div id="helpClose" class="help-close">&times;</div><!-- .help-close -->
    
    <div id="helpModalContent" class="help-modal-content">
      
      <div id="helpListWrap" class="help-list-wrap">

        <!--
             Each <ul> below creates a column, as long as each has a class of
             "help-list". Each <li> is a single key/definition pair.
             The extra nested <span> is to help keep the definitions lined up
             vertically, for aesthetic reasons.
             If you hate the extra <span>, just remove it from each key/def pair.
        -->

        <ul class="help-list">

          <li class="help-key-unit">
            <kbd class="help-key"><span>F1</span></kbd>
            <span class="help-key-def">Patients</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F2</span></kbd>
            <span class="help-key-def">Appoinments</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F3</span></kbd>
            <span class="help-key-def">Invoices</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F4</span></kbd>
            <span class="help-key-def">Issue Token</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F5</span></kbd>
            <span class="help-key-def">S</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F6</span></kbd>
            <span class="help-key-def">Issue Items</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F7</span></kbd>
            <span class="help-key-def">Patient Case</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>F8</span></kbd>
            <span class="help-key-def">N</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Alt-e</span></kbd>
            <span class="help-key-def">Empty bin</span></li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Ctrl-b</span></kbd>
            <span class="help-key-def">Block user</span>
          </li>

        </ul><!-- .help-list -->

        <ul class="help-list">

          <li class="help-key-unit">
            <kbd class="help-key"><span>q</span></kbd>
            <span class="help-key-def">Quit</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Ctrl-l</span></kbd>
            <span class="help-key-def">Launch</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>5</span></kbd>
            <span class="help-key-def">Enable</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>u</span></kbd>
            <span class="help-key-def">Underline</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>w</span></kbd>
            <span class="help-key-def">Write to disk</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>f</span></kbd>
            <span class="help-key-def">Flotsam</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>j</span></kbd>
            <span class="help-key-def">Jetsam</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Fn-s</span></kbd>
            <span class="help-key-def">Swim to shore</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>m</span></kbd>
            <span class="help-key-def">Make on the floor</span></li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>k</span></kbd>
            <span class="help-key-def">Kill process</span>
          </li>

        </ul><!-- .help-list -->

        <ul class="help-list">

          <li class="help-key-unit">
            <kbd class="help-key"><span>g</span></kbd>
            <span class="help-key-def">Global warming</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>a</span></kbd>
            <span class="help-key-def">Ask question</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>y</span></kbd>
            <span class="help-key-def">Yonkers</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>b</span></kbd>
            <span class="help-key-def">Bold</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>d</span></kbd>
            <span class="help-key-def">Drive fast</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Enter</span></kbd>
            <span class="help-key-def">Commit</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>TAB</span></kbd>
            <span class="help-key-def">Insert 4 spaces</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>i</span></kbd>
            <span class="help-key-def">Italics</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>x</span></kbd>
            <span class="help-key-def">Delete</span></li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Ctrl-z</span></kbd>
            <span class="help-key-def">Undo</span>
          </li>

        </ul><!-- .help-list -->

        <ul class="help-list">

          <li class="help-key-unit">
            <kbd class="help-key"><span>&</span></kbd>
            <span class="help-key-def">Merge</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>Alt-w</span></kbd>
            <span class="help-key-def">Wipe</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>$</span></kbd>
            <span class="help-key-def">Command</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>8</span></kbd>
            <span class="help-key-def">Race track</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>^</span></kbd>
            <span class="help-key-def">Jump</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>+</span></kbd>
            <span class="help-key-def">Increase</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>-</span></kbd>
            <span class="help-key-def">Decrease</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>*</span></kbd>
            <span class="help-key-def">Go wild</span>
          </li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>[</span></kbd>
            <span class="help-key-def">Nudge left</span></li>
          <li class="help-key-unit">
            <kbd class="help-key"><span>]</span></kbd>
            <span class="help-key-def">Nudge right</span>
          </li>

        </ul><!-- .help-list -->


      </div><!-- .help-list-wrap -->

    </div><!-- .help-modal-content -->
  </div><!-- .help-modal -->
</div><!-- .help-underlay -->