label {
	font-weight: bold !important;
}
.tile-stats {
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.4),
            0 2px 4px 0 rgba(0,0,0,0.08);
}
.btn-default, .btn-success, .btn-danger {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);

    margin-left: 10px;

}
.modal-content {
	box-shadow: 0 11px 20px 0 rgba(0,0,0,0.5), 0px 13px 21px 0 rgba(0,0,0,0.2);
}
input[type=submit], input[type=button], .tile-stats.tile-new-greene {
    border: none !important;
}
textarea {
	width: 100% !important;
	resize: none;
}
input, textarea, select {
	border: 1px solid #aaa !important;
}
.profile-info {
	color: #333;
}
button.alertBox {
	font-size: 20px;
	margin: 12px;
}
.font16 {
	font-size: 16px !important;
}
i.addButton {
	padding-right: 16px !important;
}
.page-container .sidebar-menu .logo-env {
	/*background: #fff;*/
}
.sidebar-collapse-icon {
	background: #303641;
}
@media (max-width: 499px) {
.hideCol {
	display: none;
}
}
@media (max-width: 600px) {
.hideCol2 {
	display: none;
}
}
@media (max-width: 767px) {
.hideCol2 {
	display: none;
}
}
span.validate-has-error {
	color: #CC2424;
}
.login-page .login-header {
/* background: #FFF;*/
}
.red-border{
	border-color:#cc2424;	
}
.inoti{
	position:relative;	
}
.inoti span{
	position:absolute;
	top:-4px;
	left:11px;
	padding:2px 5px;
	font-weight:bold;	
}
.delitem{
	margin-left:-8px;	
}

#search_keywords, #search_status, #per_page,#page_cat_id{
	padding:4px;	
}
.form-inline.pull-right{
	clear:both;	
}
.logo img {
    background: #fff none repeat scroll 0 0;
    border-radius: 12px;
    padding: 18px;
}

.logo-env .logo img {
    border-radius: 5px;
    padding: 8px;
}
.checkbox-style {
	width: 16px;
    display: inline;
}
.form-group label.control-label span.req {
    color: red;
}
.tile-stats {
	border-radius: 0px !important;
}
/* Start Pink Tile */
.tile-stats.tile-pink {
    background: none;
    border: 1px solid #ec3b83;
    color: #ec3b83 !important;
}
.tile-stats.tile-pink:hover {
    background: rgba(236,59,131, 0.2);
    border: 1px solid #ec3b83;
    color: #ffffff !important;
}
.tile-stats.tile-pink .icon {
    color: rgba(236,59,131, 0.1);
}
.tile-stats.tile-pink .num, .tile-stats.tile-pink h3, .tile-stats.tile-pink p {
    color: rgba(236,59,131) !important;
}
/* End Pink Tile */
/* Start Purple Tile */
.tile-stats.tile-purple {
    background: none;
    border: 1px solid #ba79cb;
    color: #ba79cb !important;
}
.tile-stats.tile-purple:hover {
    background: rgba(186,121,203, 0.2);
    border: 1px solid #ba79cb;
    color: #ffffff !important;
}
.tile-stats.tile-purple .icon {
    color: rgba(186,121,203, 0.1);
}
.tile-stats.tile-purple .num, .tile-stats.tile-purple h3, .tile-stats.tile-purple p {
    color: rgba(186,121,203) !important;
}
/* End Purple Tile */
/* Start Orange Tile */
.tile-stats.tile-orange {
    background: none;
    border: 1px solid #ffa812;
    color: #ffa812 !important;
}
.tile-stats.tile-orange:hover {
    background: rgba(255,168,18, 0.2);
    border: 1px solid #ffa812;
    color: #ffffff !important;
}
.tile-stats.tile-orange .icon {
    color: rgba(255,168,18, 0.1);
}
.tile-stats.tile-orange .num, .tile-stats.tile-orange h3, .tile-stats.tile-orange p {
    color: rgba(255,168,18) !important;
}
/* End Orange Tile */
/* Start Cyan Tile */
.tile-stats.tile-cyan {
    background: none;
    border: 1px solid #1BA1E2;
    color: #1BA1E2 !important;
}
.tile-stats.tile-cyan:hover {
    background: rgba(27,161,226, 0.2);
    border: 1px solid #1BA1E2;
    color: #ffffff !important;
}
.tile-stats.tile-cyan .icon {
    color: rgba(27,161,226, 0.1);
}
.tile-stats.tile-cyan .num, .tile-stats.tile-cyan h3, .tile-stats.tile-cyan p {
    color: rgba(27,161,226) !important;
}
/* End Cyan Tile */
.btn, .btn-default.btn-icon.icon-left i {
	border-radius: 0px !important;
}
/* Button */
.btn-success, .btn-green {
    color: #00a651 !important;
    background: none;
    border-color: #00a651;
}
.btn-success:hover, .btn-green:hover {
    color: #00a651 !important;
    background-color: rgba(27,161,226, 0.2);
}
.tile-stats.tile-new-greene {
    background: none !important;
    color: #2CD660 !important;
    border: 1px solid #2CD660 !important;
}
.tile-stats.tile-red {
    background: none !important;
    color: #f56954 !important;
    border: 1px solid #f56954 !important;
}
.tile-stats.tile-new-greene:hover {
    color: #fff !important;
    background: rgba(44,214,96, 0.2) !important;
}
.tile-stats.tile-red:hover {
    color: #fff !important;
    background: rgba(245,105,84, 0.2) !important;
}
.page-container.sidebar-menu {
	background-color: #444953 !important;
}
.page-container .sidebar-menu #main-menu li a {
	color: #eee;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Montserrat;
}
body {
    font-family: Montserrat;
	font-weight: 600;
}
.topnav {
	background: #303641;
    padding: 10px 20px;
}
.links-list a, .profile-info {
	color: white;
	font-size: 13px;
    font-weight: 400;
}
.main-content {
	padding: 0px !important;
}
#quickActions, #dashboardCards, #tables {
	padding: 0px 20px;
}
.quick-action-btns {
	margin-left: 5px;
	font-size: 11px;
	font-weight: bold;
}
.modal-content {
	border-radius: 0px;
}
.dashboard-widget-header {
	text-align: center;
    margin: 0px;
    padding: 8px 0px;
    color: white;
    background: #303641;
}
.dashboard_table {
	border: 1px solid #303641;
    padding: 0px;
    margin: 0px 15px;
    margin-bottom: 10px;
}
marquee {
	background: #303641;
    color: red;
    font-size: 18px !important;
    font-weight: bold;
}
th {
	font-weight: bolder;
}
.tile-stats .num {
    visibility: visible;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #efefff;
    color: black;
	font-weight: bold;
}
.content-section {
	padding: 20px;
}
.table-striped thead tr {
    background-color: #3f4652;
}
.table-striped thead tr th, .table-striped thead tr th a {
    color: white;
}
.modal-header button {
    border-radius: 0px;
    color: white !important;
    background: none !important;
    font-weight: bold;
    font-size: 25px;
}
.modal-header h4 {
    color: white;
    font-weight: bold;
}
.modal-header {
    background: #303641;
    color: white !important;
}
