.must {
  color: red;
}
ul.icons-list {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
ul.icons-list > li {
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 1em;
  line-height: 1.65em;
}
ul.icons-list > li > .icon-li {
  position: absolute;
  top: .15em;
  left: 0;
  width: 1em;
  font-size: 1.25em;
  text-align: center;
}
ul.icons-list.text-sm {
  font-size: 11px;
}
ul.icons-list.text-md {
  font-size: 13px;
}
ul.icons-list.text-lg {
  font-size: 18px;
}
ul.icons-list.text-xl {
  font-size: 24px;
}
.list-group .list-group-item.active {
  border-color: #e5412d;
}
.list-group .list-group-item.active i {
  color: #fff;
}
.list-group .list-group-item .list-group-chevron {
  float: right;
  margin-top: 5px;
  color: #bbb;
}
.list-group .list-group-item .badge {
  margin-top: 2px;
}
.list-group .list-group-item .list-group-chevron + .badge {
  margin-right: 10px;
}
.badge {
  font-size: 11px;
  font-weight: 600;
}
.feed-item {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-left: 40px;
  margin-left: 20px;
  border-left: 2px solid #DDD;
}
.feed-item:last-child {
  padding-bottom: 15px;
}
.feed-item .feed-subject {
  margin-bottom: 1.5em;
}
.feed-item .feed-subject a {
  font-weight: 600;
}
.feed-item .feed-content {
  padding-left: 25px;
}
.feed-item .feed-actions {
  padding: 10px 10px;
  margin-top: 2em;
  border-top: 1px dotted #ccc;
}
.feed-item .feed-actions:before,
.feed-item .feed-actions:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.feed-item .feed-actions:after {
  clear: both;
}
.feed-item .feed-actions a {
  color: #999;
  font-size: 13px;
}
.feed-item .feed-actions a:hover {
  text-decoration: none;
  color: #e5412d;
}
.feed-item .feed-actions .pull-left {
  margin: 0 15px 0 0;
}
.feed-item .feed-actions .pull-right {
  margin: 0 0 0 15px;
}
.feed-item .feed-icon {
  position: absolute;
  top: 15px;
  left: -23px;
  width: 40px;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  background-color: #f0ad4e;
  border: 3px solid #FFF;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.feed-item-purple .feed-icon {
  background-color: #ca2aca;
}
.feed-item-green .feed-icon {
  background-color: #288830;
}
.feed-item-idea .feed-icon {
  background-color: #f0ad4e;
}
.feed-item-image .feed-icon {
  background-color: #888888;
}
.feed-item-file .feed-icon {
  background-color: #e5412d;
}
.feed-item-bookmark .feed-icon {
  background-color: #555;
}
.feed-item-question .feed-icon {
  background-color: #428bca;
}

.ui-lightbox,
.ui-lightbox-gallery a {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.thumbnail-view {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.thumbnail-view img {
  max-width: 100%;
}
.thumbnail-view .thumbnail-view-hover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background: #111111 url(<?=ADMIN_URL;?>../assets/frontend/images/zoom.png) no-repeat 50%;
  z-index: 10;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.thumbnail-view:hover .thumbnail-view-hover {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  opacity: .5;
  filter: alpha(opacity=50);
}
.thumbnail-footer {
  padding: 7px 10px;
  border-top: 1px dotted #ccc;
}
.thumbnail-footer:before,
.thumbnail-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.thumbnail-footer:after {
  clear: both;
}
.thumbnail-footer a {
  color: #999;
  font-size: 12px;
}
.thumbnail-footer a:hover {
  text-decoration: none;
  color: #e5412d;
}
.thumbnail-footer .pull-left a {
  padding: 0 12px 0 0;
}
.thumbnail-footer .pull-right a {
  padding: 0 0 0 12px;
}