.help-underlay * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.help-underlay {
  position: absolute;
  background: #555;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
  left: 0; right: 0; top: 0; bottom: 0;
}

.ie8 .help-underlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)"; /* for IE8 in IE7 mode */
  filter: alpha(opacity=95); /* for IE8 */
  visibility: hidden;
}

.help-modal {
  position: fixed;
  z-index: 99999;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 80%;
  margin: auto;
  background: #fff;
  color: #676767;
  max-height: 80%;
  overflow: auto;
  font-family: Arial, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 4px 12px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.5);
  -webkit-transition: width .2s linear;
  -moz-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
}

  .help-modal-content {
    padding: 0 20px;
  }

  .help-close {
    position: absolute;
    top: .4em;
    right: .5em;
    font-size: 1.8em;
    cursor: pointer;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
  }

    .help-close:hover {
      color: #000;
    }

.help-modal h1 {
  text-align: center;
  margin: .5em;
  font-size: 1.5em;
  padding-bottom: .4em;
  border-bottom: solid 2px #ccc;
  font-weight: normal;
}

  .help-modal h1 .help-key {
    float: none;
    line-height: 1.5;
    position: relative;
    bottom: 4px;
  }

.help-isVisible {
  opacity: 1;
  visibility: visible;
  height: auto;
  z-index: 8888;
}

.ie8 .help-underlay.help-isVisible {
  visibility: visible;
}

.help-list-wrap {
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: width .2s linear;
  -moz-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
}

.help-list {
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
  overflow: hidden;
  width: 280px;
}

  .help-list li {
    margin-right: 40px;
  }

.help-key-unit {
  line-height: 1.8;
  margin-right: 2em;
  padding: 5px 0;
}

.help-key {
  min-width: 60px;
  float: left;
  clear: left;
  position: relative;
  bottom: 2px;
}

.help-key span {
  font-size: 15px;
  color: #555;
  display: inline-block;
  padding: 0 8px;
  text-align: center;
  background-color: #eee;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
  background-image: -webkit-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: -moz-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: -o-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: linear-gradient(#f5f5f5 0%, #eee 100%);
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
}

.help-key-def {
  display: inline-block;
  margin-left: 1em;
}
.modal-body.hlist{display:inline-flex;}
h4.modal-title.hel{text-align:center;}